html {
  height: 100%;
}

body {
    background-image:url(./background_tiles.png);
    padding-bottom: 60px;
    height:100%;
}

h1, h2, h3, h4, h5, h6 {
  color:black;
  font-family: "Helvetica"
}

footer {
  height: 100px;
}

/* p {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
} */

/* .navbar {
  margin-left: 20px;
  margin-right: 20px;
} */

/* ============ HOME PAGE ==============*/

.row {
  /* margin-right: 200px;
  margin-left: 20px; */
  /* padding:20px; */
}


/* =========== END HOME PAGE ============*/

.jumbotron {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 100px;
  border-radius: 6px;
  background-color: white;
  font-family: "Helvetica";
}

.jumbotron h1, h2, h3, h4, h5, h6, p{
  margin-left: 20px;
  margin-right: 20px;
  /* margin-bottom: 20px;
  margin-top: 20px; */
}

.jumbotron p {
  font-size: large;
  margin-top: 10px;
  margin-bottom: 10px;
}

.profilephoto {
  width: 600px; 
  height:auto;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 6px;
  float:right;
}


