{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="p-5 my-4 bg-light rounded-3">
            <h1>About Roy</h1>
            <p class="lead">What's up pussy bois this is my website if you don't like it eat my cheeks
                <img src='https://media-cldnry.s-nbcnews.com/image/upload/t_focal-760x428,f_auto,q_auto:best/MSNBC/Components/Video/201609/a_ov_Pepe_160928.jpg'>
            </img>
            </p>
            <p><a href="https://www.tutorialrepublic.com" target="_blank" class="btn btn-success btn-lg">Enter the thunderdome</a></p>
        </div>
        <div class="row">
            <div class="col-md-4 bg-light rounded-3">
                <h2>My projects</h2>
                <p>See all the shit I've made badly. Hopefully it will be good enough to get me a job ayo</p>
                <p><a href="https://www.tutorialrepublic.com/html-tutorial/" target="_blank" class="btn btn-success">Projects &raquo;</a></p>
            </div>
            <div class="col-md-4 bg-light rounded-3">
                <h2>Resume</h2>
                <p>Here is my resume that is mostly all lies but at least 10% is probably true</p>
                <p><a href="https://www.tutorialrepublic.com/css-tutorial/" target="_blank" class="btn btn-success">I love frauds &raquo;</a></p>
            </div>
            <div class="col-md-4 bg-light rounded-3">
                <h2>My nudes</h2>
                <p>These range from early childhood to today. Please be careful with the former.</p>
                <p><a href="https://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank" class="btn btn-success">Take me to nudes &raquo;</a></p>
            </div>
        </div> 
    </div>
{% endblock content %}